button {
  background-color: #006085;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}
